@import "tailwindcss";

@theme {
  --color-primary: #16a34a; /* green-600 */
}

:root {
  --background: #f3f4f6; /* bg-gray-100 */
  --foreground: #1f2937; /* Dark Gray */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#app-container {
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow-x: hidden;
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

